CVS
RCS
.svn
target
bin
build
DerivedData

.project
.classpath
.settings
.metadata
.tern-project
*.jsfdia
*.iml
.idea


*.o
*.com
*.class
*.dll
*.exe
*.so

*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


npm-debug.log
node
node_modules
bower_components
test-results.xml

src/main/webapp/**/*.js
src/main/webapp/**/*.css
src/main/webapp/**/*.html

src/main/webapp/js
src/main/webapp/css
src/main/webapp/sass
src/main/webapp/fonts
src/main/webapp/img
src/main/webapp/template
src/main/java/com/springapp