<section class="about_us" id="about_us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel-example-generic" class="carousel" data-ride="carousel">
					<!-- Wrapper for slides -->
					<a class="carousel-item item"><img src="img/banner1.jpg"></a>
					<a class="carousel-item item"><img src="img/banner2.jpg"></a>
					<a class="carousel-item item"><img src="img/banner3.jpg"></a>
					<a class="carousel-item item"><img src="img/banner4.jpg"></a>
					<a class="carousel-item item"><img src="img/banner5.jpg"></a>
				</div>
				<div class="controls">
					<!-- Controls -->
				    <a id="left" class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				    	<span class="glyphicon glyphicon-chevron-left">
				    		<img src="img/slider_first_left.png">
				    	</span>
				  	</a>
				    <a id="right" class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				    	<span class="glyphicon glyphicon-chevron-right">
				    		<img src="img/slider_first_right.png">
				    	</span>
				    </a>
				</div>
			</div>
		</div>
	</div>
</section>