<section class="about_us" id="about_us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item first_item active_item one">
				      <img src="../img/banner1.jpg" alt="...">
				      <div class="carousel-caption">
				      </div>
				    </div>
				    <div class="item second_item two">
				      <img src="../img/banner2.jpg" alt="...">
				      <div class="carousel-caption">
				      </div>
				    </div>
				    <div class="item third_item three">
				      <img src="../img/banner3.jpg" alt="...">
				      <div class="carousel-caption">
				      </div>
				    </div>
				    <div class="item fourth_item four">
				      <img src="../img/banner4.jpg" alt="...">
				      <div class="carousel-caption">
				      </div>
				    </div>
				    <div class="item fiveth_item last_item five">
				      <img src="../img/banner5.jpg" alt="...">
				      <div class="carousel-caption">
				      </div>
				    </div>
				  </div>
				  <!-- Controls -->
				  <a id="left" class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"><img src="../img/slider_first_left.png"></span>
				  </a>
				  <a id="right" class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"><img src="../img/slider_first_right.png"></span>
				  </a>
				</div>
			</div>
		</div>
	</div>
</section>