<section class="advantages" id="advantages">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Переваги</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div class="col-md-12 marginishka">
					<div class="col-md-4">
						<div class="advantage first">
							<div class="advantage_img">
								<span class="img img_first"></span>
							</div>
							<h3>Досвідченні тімліди</h3>
							<p>Роботу кожної команди координує досвідчений розробник.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage second">
							<div class="advantage_img">
								<span class="img img_second"></span>
							</div>
							<h3>Робота в команді</h3>
							<p>Над успіхом проекту працюють front-end та back-end розробники, а також тестувальники та бізнес-аналітики.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage third">
							<div class="advantage_img">
								<span class="img img_third"></span>							
							</div>
							<h3>Agile підхід</h3>
							<p>Розробка проектів відбувається за гнучкими методологіями Agile/Scrum, що є основою сучасної розробки ПЗ.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage fourth">
							<div class="advantage_img">
								<span class="img img_fourth"></span>
							</div>
							<h3>Іноземні замовлення</h3>
							<p>Наші замовники - українські та зарубіжні компанії. Проекти, які ми виконуємо, вирішують їхні актуальні бізнес-задачі.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage fiveth">
							<div class="advantage_img">
								<span class="img img_fiveth"></span>

							</div>
							<h3>Працевлаштування</h3>
							<p>Інтернатура - це важливий пункт в твоєму резюме. Він гарантує достатньо високий рівень знань та навичок для працевлаштування в провідних ІТ-компаніях.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage sixth">
							<div class="advantage_img">
								<span class="img img_sixth"></span>
							</div>
							<h3>Різномаїття проектів</h3>
							<p>Проекти інтернатури включають розробку веб-програм та мобільних додатків для автоматизації бізнесу, e-commerce, соціальної сфери, та ін.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>