<section class="advantages" id="advantages">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Переваги</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div class="col-md-12 marginishka">
					<div class="col-md-4">
						<div class="advantage first">
							<div class="advantage_img">
								<span class="img img_first"></span>
							</div>
							<h3>Досвідченні тімліди</h3>
							<p>Грамотні та досвідченні тімліди, які завжди поділяться досвідом і дадуть пораду.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage second">
							<div class="advantage_img">
								<span class="img img_second"></span>
							</div>
							<h3>Робота в команді</h3>
							<p>Ефективна робота в команді - запорука успіху компанії.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage third">
							<div class="advantage_img">
								<span class="img img_third"></span>							</div>
							<h3>Актуальні теми</h3>
							<p>Наші викладачі навчають створювати і творити нове, виходити за рамки, не втрачаючи образів і техніки.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage fourth">
							<div class="advantage_img">
								<span class="img img_fourth"></span>
							</div>
							<h3>Зарубіжні замовники</h3>
							<p>Нашими замовниками є провідні зарубіжні компанії, розробники технологій і постачальники обладнання.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage fiveth">
							<div class="advantage_img">
								<span class="img img_fiveth"></span>

							</div>
							<h3>Провідні ІТ-компанії</h3>
							<p>З нами співпрацюють найкращі ІТ-компанії України, в яких Ти можеш знайти роботу своєї мрії.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advantage sixth">
							<div class="advantage_img">
								<span class="img img_sixth"></span>
							</div>
							<h3>Охоплення всіх девайсів</h3>
							<p>Створюючи сайти і додатки для Web, особлива увага приділяється адаптивності його під мобільні пристрої та планшети.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>