<section class="directions" id="directions">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Напрямки</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div class="marginishka">
					<div class="col-md-3">
						<div class=" div_blue one">
							<p>Технологія створення веб-додатків та веб-сервісів від компанії Майкрософт. Вона являється складовою частиною платворми Microsoft .NET і розвитком більш старої технології Microsoft ASP.</p>
							<div class=" div_yellow one">
								<h3>Front End</h3>
								<h4>Дізнатись більше</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class=" div_blue two">
							<p>Технологія створення веб-додатків та веб-сервісів від компанії Майкрософт. Вона являється складовою частиною платворми Microsoft .NET і розвитком більш старої технології Microsoft ASP.</p>
							<div class=" div_yellow two">
								<h3>Java</h3>
								<h4>Дізнатись більше</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class=" div_blue three">
							<p>Технологія створення веб-додатків та веб-сервісів від компанії Майкрософт. Вона являється складовою частиною платворми Microsoft .NET і розвитком більш старої технології Microsoft ASP.</p>
							<div class=" div_yellow three">
								<h3>Asp.net</h3>
								<h4>Дізнатись більше</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class=" div_blue four">
							<p>Технологія створення веб-додатків та веб-сервісів від компанії Майкрософт. Вона являється складовою частиною платворми Microsoft .NET і розвитком більш старої технології Microsoft ASP.</p>
							<div class=" div_yellow four">
								<h3>QA + BA</h3>
								<h4>Дізнатись більше</h4>
							</div>
						</div>
					</div>
					<div class="col-md-12 addApplications">
						<form action="">
							<button type="button" name="application" class="addApplication">Подати заявку</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>