<footer class="footer" id="contacts">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8">
					<h5>Приєднуйтесь до нас в соцмережах:</h5>
					<p class="contacts">
						<a href="https://www.facebook.com/BionicUniversity" target="_blank"><img src="img/facebook.png" alt="facebook"></a> 
						<a href="https://vk.com/bionicuniversity" target="_blank"><img src="img/vkontakte.png" alt="vkontakte"></a>
						<a href="https://www.linkedin.com/company/5038601" target="_blank"><img src="img/linkedin.png" alt="linkedin"></a>
						<a href="https://www.youtube.com/channel/UCVXfSyq0Qs3auJ4bPv4UXVg" target="_blank"><img src="img/youtube.png" alt="youtube"></a>
						<a href="https://plus.google.com" target="_blank"><img src="img/googleplus.png" alt="googleplus"></a>
					</p>
				</div>
				<div class="col-md-4">
					<h5>Contacts:</h5>
					<h6>Київ, вул. Григорія Сковороди, 2</h6>
					<h6>тел: 067 555 67 687</h6>
					<h6>internship@bionicschool.com.ua</h6>
				</div>
			</div>
		</div>
	</div>
</footer>