<header class="header" id="navbar">
	<nav  class="navbar navbar-default navbar-fixed-top navbar-yellow">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-sm-1">
					<div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed header-button" data-toggle="collapse" data-target=".dev-navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="img/dev-studio.png"></a>
                    </div>
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="collapse navbar-collapse dev-navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#about_us">Про нас</a></li>
                            <li><a href="#join_us">Як приєднатись</a></li>
                            <li><a href="#directions">Напрямки</a></li>
                            <li><a href="#advantages">Переваги</a></li>
                            <li><a href="#projects">Проекти</a></li>
                            <li><a href="#reviews">Відгуки</a></li>
                            <li><a href="#contacts">Контакти</a></li>
                        </ul>
                    </div>
				</div>
				<div class="col-md-2 col-sm-1 small-menu">
					<div class="collapse navbar-collapse navbar-header avt dev-navbar-collapse ">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="">Подати заявку</a></li>
                        </ul>
                    </div>
				</div>
			</div>
		</div>
	</nav>
</header>
