<section class="join_us" id="join_us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="info">
					<p>Інтернатура в BU Dev Studio - це можливість отримати цінний досвід і перший реальний проект в портфоліо.
					Протягом 4 - 5 місяців інтерни поглиблюють свої знання у вибраних технологіях, одночасно розробляючи в команді ІТ-рішення для реального бізнесу.</p>
				</div>
			</div>
			<div class="col-md-12 marginishka">
				<div class="col-md-4 lines"><span class="line"></span></div>
				<h2 class="col-md-4">Як потрапити в BU Internship</h2>
				<div class="col-md-4 lines"><span class="line"></span></div>
			</div>
			<div class="col-md-12 steps">
				<div class="col-md-3 step">
					<div class="step_img">
						<img src="img/step_1.png" alt="step_1">
					</div>
					<h4>step 1</h4>
					<h3>тестування</h3>
					<p>Першим кроком до мети є проходження тестування і визначення свого рівння знань.</p>
					<form action="">
						<button type="button" name="test" class="test">Пройти тест</button>
					</form>
				</div>
				<div class="col-md-1 step next_step">
					<img src="img/next_step_1.png" alt="next_step_1">
				</div>
				<div class="col-md-4 step">
					<div class="step_img">
						<img src="img/step_2.png" alt="step_2">
					</div>
					<h4>step 2</h4>
					<h3>навчання по програмі</h3>
					<p>Виходячи з результатів тестування і Ваших побажань, менеджер Bionic School підбере найкращу для Вас програму навчання.</p>
				</div>
				<div class="col-md-1 step next_step">
					<img src="img/next_step_2.png" alt="next_step_2">
				</div>
				<div class="col-md-3 step">
					<div class="step_img">
						<img src="img/step_3.png" alt="step_3">
					</div>
					<h4>step 3</h4>
					<h3>інтернатура</h3>
					<p>Після успішного завершення курсу Ви зможете подати заявку на навчання в Інтернатурі.</p>
				</div>
			</div>
		</div>
	</div>
</section>