<section class="join_us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="info">
					<p>Інтернатура BU DevStudio – це досвід командної роботи над реальним бізнес-проектом для випусників BIONIC School. 5 місяців інтерни розробляють програмні рішення для замовника та презентують готовий продукт (MVP) у кінці.</p>
				</div>
			</div>
			<div class="col-md-12 marginishka"  id="join_us">
				<div class="col-md-4 lines"><span class="line"></span></div>
				<h2 class="col-md-4">Як потрапити в BU Internship</h2>
				<div class="col-md-4 lines"><span class="line"></span></div>
			</div>
			<div class="col-md-12 steps">
				<div class="col-md-3 step">
					<div class="step_img">
						<img src="img/step_1.png" alt="step_1">
					</div>
					<h4>step 1</h4>
					<h3>Тест та співбесіда</h3>
					<p>Визначаємо твій рівень знань та підбираємо навчальну програму.</p>
					<form action="">
						<button type="button" name="test" class="test">Пройти тест</button>
					</form>
				</div>
				<div class="col-md-1 step next_step">
					<img src="img/next_step_1.png" alt="next_step_1">
				</div>
				<div class="col-md-4 step">
					<div class="step_img">
						<img src="img/step_2.png" alt="step_2">
					</div>
					<h4>step 2</h4>
					<h3>Навчання за напрямом</h3>
					<p>Ти проходиш навчання та здобуваєш теоретичні й практичні навички для роботи над проектом. Успішно завершивши підготовку - отримуєш запрошення в інтернатуру</p>
				</div>
				<div class="col-md-1 step next_step">
					<img src="img/next_step_2.png" alt="next_step_2">
				</div>
				<div class="col-md-3 step">
					<div class="step_img">
						<img src="img/step_3.png" alt="step_3">
					</div>
					<h4>step 3</h4>
					<h3>інтернатура</h3>
					<p>Команди інтернів формуються за результатами командних ігор, психологічних тестів та співбесіди. Кожна команда отримує унікальний проект, який має презентувати клієнту.</p>
				</div>
			</div>
		</div>
	</div>
</section>