<section class="partners" id="partners">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Партнери</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div class="col-md-12 marginishka">
					<div class="carousel slide media-carousel" id="partner">
				        <div class="carousel-inner">
				          	<div class="item  active">
				            	<div class="row">
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/infopulse.png"></a>
					              	</div>          
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/ciklum.png"></a>
					              	</div>
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/luxoft.png"></a>
					              	</div> 
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/playtech.png"></a>
					              	</div>          
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/epam.png"></a>
					              	</div>
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/globallogic.png"></a>
					              	</div>      
				            	</div>
				         	</div>
					        <div class="item">
					            <div class="row">
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/engagepoint.png"></a>
					              	</div>          
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/intropro.png"></a>
					              	</div>
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/netcracker.png"></a>
					              	</div> 
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/pnn.png"></a>
					              	</div>          
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/miratech.png"></a>
					              	</div>
					              	<div class="col-md-2 partner">
					                	<a class="thumbnail" href="#"><img alt="" src="img/softserve.png"></a>
					              	</div>       
					            </div>
					        </div>
				        </div>
				        <a data-slide="prev" href="#partner" class="left carousel-control"><img src="img/prev_partners.png" alt=""></a>
				        <a data-slide="next" href="#partner" class="right carousel-control"><img src="img/next_partners.png" alt=""></a>
				      </div> 
				</div>
			</div>
		</div>
	</div>
</section>