<div class="popup">
	<div class="modal fade send_request" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog singin" role="document">
		    <div class="modal-content">
		    <div class="modal-header">
		    	<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="img/close_information.png"></span></a>
		    </div>
		    <div class="modal-body">
		    	<div class="form">
		    		<div><label for="login">Логін</label><input type="text" id="login" class="login"></div>
		    		<div><label for="password">Пароль</label><input type="password" id="password" class="password"></div>
		    		<p><span>Забули пароль?</span></p>
		    		<button class="sing_in">УВІЙТИ</button>
		    	</div>
		    </div>
		    <div class="modal-footer"></div>
		    </div>
		</div>

		<div class="modal-dialog request" role="document">
		    <div class="modal-content">
		    <div class="modal-header">
		    	<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="img/close_information.png"></span></a>
		    </div>
		    <div class="modal-body">
		    	<div class="form">
		    		<div><label for="login">Прізвище</label><input type="text" placeholder="Hello" class="fname"></div>
		    		<div><label for="password">Ім'я</label><input type="password" placeholder="World" class="lname"></div>
		    		<p>
			    		<form action="">
			    			<label class="label_checkbox">Front-end Development/верстка<input type="checkbox" class="checkbox"></label>
			    			<label class="label_checkbox">Front-end Development/JavaScript<input type="checkbox" class="checkbox"></label>
			    			<label class="label_checkbox">Java Enterprise<input type="checkbox" class="checkbox"></label>
			    			<label class="label_checkbox">ASP.NETQ<input type="checkbox" class="checkbox"></label>
			    			<label class="label_checkbox">Quality Assurance<input type="checkbox" class="checkbox"></label>
			    			<label class="label_checkbox">Business Analysis<input type="checkbox" class="checkbox"></label>
			    		</form>
		    		</p>
		    		<button class="send">НАДІСЛАТИ</button>
		    	</div>
		    </div>
		    <div class="modal-footer"></div>
		    </div>
		</div>

		<div class="modal-dialog send_success" role="document">
		    <div class="modal-content">
		    <div class="modal-header">
		    	<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="img/close_information.png"></span></a>
		    </div>
		    <div class="modal-body">
		    	<div class="form">
		    		<p><span class="img img_success"><img src="img/success.png" alt="success"></span></p>
		    		<p><span>Дякуємо! Вашу заявку було відправленно на перегляд до адміністратора, і з Вами зв'яжуться!</span></p>
		    	</div>
		    </div>
		    <div class="modal-footer"></div>
		    </div>
		</div>

		<div class="modal-dialog send_error_login can_close" role="document">
		    <div class="modal-content">
		    <div class="modal-header">
		    	<a class="close" aria-label="Close"><span aria-hidden="true"><img src="img/close_information.png"></span></a>
		    </div>
		    <div class="modal-body">
		    	<div class="form">
		    		<p><span class="img img_error"><img src="img/error.png" alt="error"></span></p>
		    		<p><span>Введено не вірний логін, спробуйте ще раз.</span></p>
		    	</div>
		    </div>
		    <div class="modal-footer"></div>
		    </div>
		</div>

		<div class="modal-dialog send_error_password can_close" role="document">
		    <div class="modal-content">
		    <div class="modal-header">
		    	<a class="close" aria-label="Close"><span aria-hidden="true"><img src="img/close_information.png"></span></a>
		    </div>
		    <div class="modal-body">
		    	<div class="form">
		    		<p><span class="img img_error"><img src="img/error.png" alt="error"></span></p>
		    		<p><span>Введено не вірний пароль, спробуйте ще раз.</span></p>
		    	</div>
		    </div>
		    <div class="modal-footer"></div>
		    </div>
		</div>

		<div class="modal-dialog send_error_notAlumnus can_close" role="document">
		    <div class="modal-content">
		    <div class="modal-header">
		    	<a class="close" aria-label="Close"><span aria-hidden="true"><img src="img/close_information.png"></span></a>
		    </div>
		    <div class="modal-body">
		    	<div class="form">
		    		<p><span class="img img_error"><img src="img/error.png" alt="error"></span></p>
		    		<p><span>Вибачте, на жаль, ви не є випускником жодної з програм Bionic, тому наразі не можете надіслати заявку на участь в інтернатурі.</span></p>
		    	</div>
		    </div>
		    <div class="modal-footer"></div>
		    </div>
		</div>
	</div>
</div>