<section class="projects" id="projects">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Проекти</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div id="Carousel" class="carousel slide">
	                <!-- Carousel items -->
	                <div class="carousel-inner">
						<div class="row">
							<div class="projects_information">
	                	  		<div class="col-md-6 information information_first">
	                	  			<span class="close_information"><img src="../img/close_information.png" alt=""></span>
	                	  			<h5>Internet Corporation for Assigned Names and Numbers</h5>
	                	  			<h6><img src="../img/project_first.png" alt=""><span>Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois".</span></h6>
	                	  			<div class="both"></div>
	                	  			<p>ICANN (Internet Corporation for Assigned Names and Numbers) oversees the network of websites that make up the Internet. Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois". This information includes the name add address of the website owner as well as that of the web host. You can also setermine the date when a website was first created (published to the web) by looking up Whois data.</p>
	                	  			<p>Sponsored link</p>
	                	  		</div>
	                	  		<div class="col-md-6 information information_second">
	                	  			<span class="close_information"><img src="../img/close_information.png" alt=""></span>
	                	  			<h5>Internet Corporation for Assigned Names and Numbers</h5>
	                	  			<h6><img src="../img/project_second.png" alt=""><span>Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois".</span></h6>
	                	  			<div class="both"></div>
	                	  			<p>ICANN (Internet Corporation for Assigned Names and Numbers) oversees the network of websites that make up the Internet. Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois". This information includes the name add address of the website owner as well as that of the web host. You can also setermine the date when a website was first created (published to the web) by looking up Whois data.</p>
	                	  			<p>Sponsored link</p>
	                	  		</div>
	                	  		<div class="col-md-6 information information_third">
	                	  			<span class="close_information"><img src="../img/close_information.png" alt=""></span>
	                	  			<h5>Internet Corporation for Assigned Names and Numbers</h5>
	                	  			<h6><img src="../img/project_third.png" alt=""><span>Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois".</span></h6>
	                	  			<div class="both"></div>
	                	  			<p>ICANN (Internet Corporation for Assigned Names and Numbers) oversees the network of websites that make up the Internet. Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois". This information includes the name add address of the website owner as well as that of the web host. You can also setermine the date when a website was first created (published to the web) by looking up Whois data.</p>
	                	  			<p>Sponsored link</p>
	                	  		</div>
	                	  		<div class="col-md-6 information information_fourth">
	                	  			<span class="close_information"><img src="../img/close_information.png" alt=""></span>
	                	  			<h5>Internet Corporation for Assigned Names and Numbers</h5>
	                	  			<h6><img src="../img/project_fourth.png" alt=""><span>Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois".</span></h6>
	                	  			<div class="both"></div>
	                	  			<p>ICANN (Internet Corporation for Assigned Names and Numbers) oversees the network of websites that make up the Internet. Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois". This information includes the name add address of the website owner as well as that of the web host. You can also setermine the date when a website was first created (published to the web) by looking up Whois data.</p>
	                	  			<p>Sponsored link</p>
	                	  		</div>
	                	  		<div class="col-md-6 information information_fiveth">
	                	  			<span class="close_information"><img src="../img/close_information.png" alt=""></span>
	                	  			<h5>Internet Corporation for Assigned Names and Numbers</h5>
	                	  			<h6><img src="../img/project_fiveth.png" alt=""><span>Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois".</span></h6>
	                	  			<div class="both"></div>
	                	  			<p>ICANN (Internet Corporation for Assigned Names and Numbers) oversees the network of websites that make up the Internet. Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois". This information includes the name add address of the website owner as well as that of the web host. You can also setermine the date when a website was first created (published to the web) by looking up Whois data.</p>
	                	  			<p>Sponsored link</p>
	                	  		</div>
	                	  		<div class="col-md-6 information information_sixth">
	                	  			<span class="close_information"><img src="../img/close_information.png" alt=""></span>
	                	  			<h5>Internet Corporation for Assigned Names and Numbers</h5>
	                	  			<h6><img src="../img/project_sixth.png" alt=""><span>Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois".</span></h6>
	                	  			<div class="both"></div>
	                	  			<p>ICANN (Internet Corporation for Assigned Names and Numbers) oversees the network of websites that make up the Internet. Each website owner must provide identifying information about his or her website through an information depository commonly referred to as "Whois". This information includes the name add address of the website owner as well as that of the web host. You can also setermine the date when a website was first created (published to the web) by looking up Whois data.</p>
	                	  			<p>Sponsored link</p>
	                	  		</div>
								
							</div>
						</div>
	                	<div class="row">
	                		<div class="col-md-3"><a href="#Carousel" class="thumbnail step_left" data-slide="prev"><img src="../img/prev_project.png" alt="prev_project" style="max-width:100%;"></a></div>
	                	</div>
	                	<div class="row">
	                		<div class="col-md-3"><a href="#Carousel" class="thumbnail step_right" data-slide="next"><img src="../img/next_project.png" alt="next_project" style="max-width:100%;"></a></div>
	                	</div>

			                <div class="item active">
			                	<div class="row">
			                	  	<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                	  	<div class="col-md-3 proj">
					                	<a class="thumbnail effects effect_first">
					                	  	<div class="caption caption_first">
					                	  		<h3>five avenu app.</h3>
					                	  		<h4>розробка веб-сайту</h4>
					                	  	</div>
					                	  	<img src="../img/project_first.png" alt="Image" style="max-width:100%;">
					                	</a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_second">
			                	  			<div class="caption caption_second">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<img src="../img/project_second.png" alt="Image" style="max-width:100%;">
			                	  		</a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_third">
			                	  			<div class="caption caption_third">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<img src="../img/project_third.png" alt="Image" style="max-width:100%;">
			                	  		</a>
			                	  	</div>
			                	 	<div class="col-md-3 proj">
			                	 		<a class="thumbnail effects effect_fourth">
			                	 			<div class="caption caption_fourth">
			                	 				<h3>five avenu app.</h3>
			                	 				<h4>розробка веб-сайту</h4>
			                	 			</div>
			                	 			<img src="../img/project_fourth.png" alt="Image" style="max-width:100%;">
			                	 		</a>
			                	 	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_fiveth">
			                	  			<div class="caption caption_fiveth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<img src="../img/project_fiveth.png" alt="Image" style="max-width:100%;">
			                	  		</a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_sixth">
			                	  			<div class="caption caption_sixth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<img src="../img/project_sixth.png" alt="Image" style="max-width:100%;">
			                	  		</a>
			                	  	</div>

			                	  	<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_first">
					                	  	<div class="caption caption_first">
					                	  		<h3>five avenu app.</h3>
					                	  		<h4>розробка веб-сайту</h4>
					                	  	</div>
				                			<img src="../img/project_first.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_second">
			                	  			<div class="caption caption_second">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_second.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3">
				                		<a class="thumbnail effects effect_third">
			                	  			<div class="caption caption_third">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_third.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3">
				                		<a class="thumbnail effects effect_fourth">
			                	 			<div class="caption caption_fourth">
			                	 				<h3>five avenu app.</h3>
			                	 				<h4>розробка веб-сайту</h4>
			                	 			</div>
				                			<img src="../img/project_fourth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_fiveth">
			                	  			<div class="caption caption_fiveth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_fiveth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effect effect_sixth">
				                			<div class="caption caption_sixth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_sixth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>

			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->

			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_first">
					                	  	<div class="caption caption_first">
					                	  		<h3>five avenu app.</h3>
					                	  		<h4>розробка веб-сайту</h4>
					                	  	</div>
				                			<img src="../img/project_first.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_second">
			                	  			<div class="caption caption_second">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_second.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3">
				                		<a class="thumbnail effects effect_third">
			                	  			<div class="caption caption_third">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_third.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3">
				                		<a class="thumbnail effects effect_fourth">
			                	 			<div class="caption caption_fourth">
			                	 				<h3>five avenu app.</h3>
			                	 				<h4>розробка веб-сайту</h4>
			                	 			</div>
				                			<img src="../img/project_fourth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_fiveth">
			                	  			<div class="caption caption_fiveth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_fiveth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effect effect_sixth">
				                			<div class="caption caption_sixth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_sixth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>

			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                
			                <div class="item">
			                	<div class="row">
			                 		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_first">
					                	  	<div class="caption caption_first">
					                	  		<h3>five avenu app.</h3>
					                	  		<h4>розробка веб-сайту</h4>
					                	  	</div>
				                			<img src="../img/project_first.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_second">
			                	  			<div class="caption caption_second">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_second.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3">
				                		<a class="thumbnail effects effect_third">
			                	  			<div class="caption caption_third">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_third.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3">
				                		<a class="thumbnail effects effect_fourth">
			                	 			<div class="caption caption_fourth">
			                	 				<h3>five avenu app.</h3>
			                	 				<h4>розробка веб-сайту</h4>
			                	 			</div>
				                			<img src="../img/project_fourth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_fiveth">
			                	  			<div class="caption caption_fiveth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_fiveth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_sixth">
				                			<div class="caption caption_sixth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<img src="../img/project_sixth.png" alt="Image" style="max-width:100%;">
				                		</a>
			                		</div>

			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
	                </div><!--.carousel-inner-->
                </div><!--.Carousel-->
			</div>
		</div>
	</div>
</section>