<section class="projects" id="projects">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Проекти</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div id="Carousel" class="carousel slide">
	                <!-- Carousel items -->
	                <div class="carousel-inner">
						<div class="row">
							<div class="projects_information">
	                	  		<div class="col-md-6 information information_first" id="information_first">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_second" id="information_second">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_third" id="information_third">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_fourth" id="information_fourth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_fiveth" id="information_fiveth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_sixth" id="information_sixth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_seventh" id="information_seventh">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_eighth" id="information_eighth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_nineth" id="information_nineth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_tenth" id="information_tenth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_eleventh" id="information_eleventh">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_twelfth" id="information_twelfth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
								
							</div>
						</div>
	                	<div class="row">
	                		<div class="col-md-3"><a href="#Carousel" class="thumbnail step_left" data-slide="prev"><img src="img/prev_project.png" alt="prev_project" style="max-width:100%;"></a></div>
	                	</div>
	                	<div class="row">
	                		<div class="col-md-3"><a href="#Carousel" class="thumbnail step_right" data-slide="next"><img src="img/next_project.png" alt="next_project" style="max-width:100%;"></a></div>
	                	</div>

			                <div class="item active">
			                	<div class="row">
			                	  	<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                	  	<div class="col-md-3 proj">
					                	<a class="thumbnail effects effect_first" id="proj_img1">
					                	  	<div class="caption caption_first" id="caption_first">
					                	  		<h3>five avenu app.</h3>
					                	  		<h4>розробка веб-сайту</h4>
					                	  	</div>
					                	  	<!-- <img src="img/project_first.png" alt="Image" style="max-width:100%;"> -->
					                	</a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_second" id="proj_img2">
			                	  			<div class="caption caption_second" id="caption_second">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<!-- <img src="img/project_second.png" alt="Image" style="max-width:100%;"> -->
			                	  		</a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_third"  id="proj_img3">
			                	  			<div class="caption caption_third" id="caption_third">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<!-- <img src="img/project_third.png" alt="Image" style="max-width:100%;"> -->
			                	  		</a>
			                	  	</div>
			                	 	<div class="col-md-3 proj">
			                	 		<a class="thumbnail effects effect_fourth" id="proj_img4">
			                	 			<div class="caption caption_fourth" id="caption_fourth">
			                	 				<h3>five avenu app.</h3>
			                	 				<h4>розробка веб-сайту</h4>
			                	 			</div>
			                	 			<!-- <img src="img/project_fourth.png" alt="Image" style="max-width:100%;"> -->
			                	 		</a>
			                	 	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_fiveth"  id="proj_img5">
			                	  			<div class="caption caption_fiveth" id="caption_fiveth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<!-- <img src="img/project_fiveth.png" alt="Image" style="max-width:100%;"> -->
			                	  		</a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_sixth"  id="proj_img6">
			                	  			<div class="caption caption_sixth" id="caption_sixth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
			                	  			<!-- <img src="img/project_sixth.png" alt="Image" style="max-width:100%;"> -->
			                	  		</a>
			                	  	</div>

			                	  	<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_seventh"  id="proj_img7">
					                	  	<div class="caption caption_seventh" id="caption_seventh">
					                	  		<h3>five avenu app.</h3>
					                	  		<h4>розробка веб-сайту</h4>
 					                	  	</div>
				                			<!-- <img src="img/project_first.png" alt="Image" style="max-width:100%;"> -->
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_eighth"  id="proj_img8">
			                	  			<div class="caption caption_eighth" id="caption_eighth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<!-- <img src="img/project_second.png" alt="Image" style="max-width:100%;"> -->
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_nineth"  id="proj_img9">
			                	  			<div class="caption caption_nineth" id="caption_nineth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<!-- <img src="img/project_third.png" alt="Image" style="max-width:100%;"> -->
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_tenth"  id="proj_img10">
			                	 			<div class="caption caption_tenth" id="caption_tenth">
			                	 				<h3>five avenu app.</h3>
			                	 				<h4>розробка веб-сайту</h4>
			                	 			</div>
				                			<!-- <img src="img/project_fourth.png" alt="Image" style="max-width:100%;"> -->
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_eleventh"  id="proj_img11">
			                	  			<div class="caption caption_eleventh" id="caption_eleventh">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<!-- <img src="img/project_fiveth.png" alt="Image" style="max-width:100%;"> -->
				                		</a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effect effect_twelfth"  id="proj_img12">
				                			<div class="caption caption_twelfth" id="caption_twelfth">
			                	  				<h3>five avenu app.</h3>
			                	  				<h4>розробка веб-сайту</h4>
			                	  			</div>
				                			<!-- <img src="img/project_sixth.png" alt="Image" style="max-width:100%;"> -->
				                		</a>
			                		</div>

			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
	                </div><!--.carousel-inner-->
                </div><!--.Carousel-->
			</div>
		</div>
	</div>
</section>