<section class="projects" id="projects">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Проекти</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div id="Carousel" class="carousel slide">
	                <!-- Carousel items -->
	                <div class="carousel-inner">
						<div class="row">
							<div class="projects_information">
	                	  		<div class="col-md-6 information information_first" id="information_first">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_second" id="information_second">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_third" id="information_third">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_fourth" id="information_fourth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_fiveth" id="information_fiveth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_sixth" id="information_sixth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_seventh" id="information_seventh">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_eighth" id="information_eighth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_nineth" id="information_nineth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_tenth" id="information_tenth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_eleventh" id="information_eleventh">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
	                	  		<div class="col-md-6 information information_twelfth" id="information_twelfth">
	                	  			<span class="close_information"><img src="img/close_information.png" alt=""></span>
	                	  		</div>
								
							</div>
						</div>
	                	<div class="row">
	                		<div class="col-md-3"><a href="#Carousel" class="thumbnail step_left" data-slide="prev"><img src="img/prev_project.png" alt="prev_project" style="max-width:100%;"></a></div>
	                	</div>
	                	<div class="row">
	                		<div class="col-md-3"><a href="#Carousel" class="thumbnail step_right" data-slide="next"><img src="img/next_project.png" alt="next_project" style="max-width:100%;"></a></div>
	                	</div>

			                <div class="item active">
			                	<div class="row">
			                	  	<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                	  	<div class="col-md-3 proj">
					                	<a class="thumbnail effects effect_first" id="proj_img1"></a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_second" id="proj_img2"></a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_third"  id="proj_img3"></a>
			                	  	</div>
			                	 	<div class="col-md-3 proj">
			                	 		<a class="thumbnail effects effect_fourth" id="proj_img4"></a>
			                	 	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_fiveth"  id="proj_img5"></a>
			                	  	</div>
			                	  	<div class="col-md-3 proj">
			                	  		<a class="thumbnail effects effect_sixth"  id="proj_img6"></a>
			                	  	</div>

			                	  	<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
			                 
			                <div class="item">
			                	<div class="row">
			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>

			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_seventh"  id="proj_img7"></a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_eighth"  id="proj_img8"></a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_nineth"  id="proj_img9"></a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_tenth"  id="proj_img10"></a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effects effect_eleventh"  id="proj_img11"></a>
			                		</div>
			                		<div class="col-md-3 proj">
				                		<a class="thumbnail effect effect_twelfth"  id="proj_img12"></a>
			                		</div>

			                		<div class="col-md-3"><a class="thumbnail hidden"><img src="" alt="Image" style="max-width:100%;"></a></div>
			                	</div><!--.row-->
			                </div><!--.item-->
	                </div><!--.carousel-inner-->
                </div><!--.Carousel-->
			</div>
		</div>
	</div>
</section>