<section class="reviews" id="reviews">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 lines"><span class="line"></span></div>
				<h2 class="col-md-2">Відгуки</h2>
				<div class="col-md-5 lines"><span class="line"></span></div>
				<div class="col-md-12 marginishka">
					<div class="carousel slide media-carousel" id="media">
						<ol class="carousel-indicators">
		                    <li data-target="#media" data-slide-to="0"></li>
		                    <li data-target="#media" data-slide-to="1" class="active"></li>
		                    <li data-target="#media" data-slide-to="2"></li>
		                </ol>
				        <div class="carousel-inner">
				          	<div class="item">
				            	<div class="row">
					              	<div class="col-md-4">
					                	<a class="thumbnail " href="#">
					                		<div class="review">
					                			<img alt="" src="img/alumnus_1.png">
					                			<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>Java Start</h4>
					                		</div>
					                	</a>
					              	</div>          
					              	<div class="col-md-4">
					                	<a class="thumbnail " href="#">
					                		<div class="review">
					                			<img alt="" src="img/alumnus_2.png">
					                			<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>QA, Summer Camp</h4>
					                		</div>
					                	</a>
					              	</div>
						            <div class="col-md-4">
						                <a class="thumbnail " href="#">
						                	<div class="review">
						                		<img alt="" src="img/alumnus_3.png">
						                		<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>Front-end</h4>
						                	</div>
						                </a>
						            </div>        
				            	</div>
				          	</div>
				          	<div class="item  active">
					            <div class="row">
						            <div class="col-md-4">
						                <a class="thumbnail " href="#">
						                	<div class="review">
						                		<img alt="" src="img/alumnus_1.png">
						                		<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>Java Start</h4>
						                	</div>
						                </a>
						            </div>          
						            <div class="col-md-4">
						                <a class="thumbnail " href="#">
						                	<div class="review">
						                		<img alt="" src="img/alumnus_2.png">
						                		<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>QA, Summer Camp</h4>
						                	</div>
						                </a>
						            </div>
						            <div class="col-md-4">
						                <a class="thumbnail " href="#">
						                	<div class="review">
						                		<img alt="" src="img/alumnus_3.png">
						                		<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>Front-end</h4>
						                	</div>
						                </a>
						            </div>        
					            </div>
				          	</div>
				          	<div class="item">
				            	<div class="row">
				              		<div class="col-md-4">
				                		<a class="thumbnail " href="#">
				                			<div class="review">
				                				<img alt="" src="img/alumnus_1.png">
				                				<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>Java Start</h4>
				                			</div>
				                		</a>
				              		</div>          
				              		<div class="col-md-4">
				                		<a class="thumbnail " href="#">
				                			<div class="review">
				                				<img alt="" src="img/alumnus_2.png">
				                				<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>QA, Summer Camp</h4>
				                			</div>
				                		</a>
				              		</div>
				              		<div class="col-md-4">
				                		<a class="thumbnail " href="#">
				                			<div class="review">
				                				<img alt="" src="img/alumnus_3.png">
				                				<p><span class="span_visible">Після того, як завершила курси Java Pre-prod, я поступила в Інтернатуру. Це дало мені</span><span class="dots">...</span><span class="span_hidden"> колосальний досвід з реальним замовником. На даний момент я працюю junior developer. І знаю, що це все завдяки BU Internship).</span></p>
					                			<h3>Аня Снисаренко</h3>
					                			<h4>Front-end</h4>
				                			</div>
				                		</a>
				              		</div>      
				            	</div>
				          	</div>
				        </div>
					</div> 
				</div>
			</div>
		</div>
	</div>
</section>