.about_us{
	background-color: $base-light-color;
	padding-bottom: 10px;
	#carousel-example-generic{
		padding-top: 60px;
	}
	.marginishka{
	padding-top: 50px;
	}
	.carousel-inner{
		margin: 0;
		width: 100%;
		height: 410px;

	}
	.item{
		position: absolute;
		display: block;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.carousel-control.left, .carousel-control.right{
		background-image: none;
	}
	.left, .right{
		width: 4%;
		height: 400px;
		z-index: 7;
	}
	.left{
		top: 60px;
		left: 20%;
	}
	.right{
		top: 60px;
		right: 20%;
	}

	.carousel {
  		&.carousel-slider {
		    top: 0;
		    left: 0;
		    height: 0;

	    	.carousel-fixed-item {
	      		&.with-indicators {
	        		bottom: 68px;
	      		}

			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 20px;
			    z-index: 1;
    		}

		    .carousel-item {
		      	width: 100%;
		      	height: 100%;
		      	min-height: 400px;
		      	position: absolute;
		      	top: 0;
		      	left: 0;
		    }
  		}

	    overflow: hidden;
	    position: relative;
	    top: 10px;
	    width: 100%;
	    height: 400px;
	    perspective: 500px;
	    transform-style: preserve-3d;
	    transform-origin: 0% 50%;

		.carousel-item {
		    display: none;
		    width: 700px;
		    height: 410px;
		    position: absolute;
		    top: 0;
		    left: 0;

		    img {
		        width: 100%;
		    }
		}
	}
}