.advantages{
	width: 100%;
	background-image: url(../img/advantages.png);
	background-position: center;
	padding-top: 50px;
	position: relative;
	top: -108px;
	z-index: -2;
	padding-bottom: 108px;
	h2{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 24px;
		color: $dark-blue-green-color;
		text-align: center;
	}
	h3{
		font-family: 'PFBeauSansPro SemiBold', sans-serif;
		font-size: 21px;
		color: $base-dark-color;
	}
	p{
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 14px;
		color: $light-grey-base-color;
	}
	.lines{
		padding: 18px 0;
	}
	.lines:first-child{
		padding-left: 6%;
	}
	.lines:last-child{
		padding-right: 6%;
	}
	.line{
		width: 100%;
		height: 2px;
		background-color: $base-dark-color;
		opacity: 0.6;
		display: inline-block;
	}
	.marginishka{
		padding-top: 30px;
	}
	.advantage{
		height: 250px;
		width: 290px;
		text-align: center;
		padding: 20px 10px 0px;
		margin: auto;
	}
	.advantage_img{
		line-height: 100px;
		margin: auto;
	}
	.advantage_img .img{
		vertical-align: middle;
		display: inline-block;
	}
	.img_first{
		width: 50px;
		height: 75px;
		background-image: url(../img/advantage_first.png);
		background-position: 0 0;
	}
	.img_second{
		width: 96px;
		height: 97px;
		background-image: url(../img/advantage_second.png);
		background-position: 0 0;
	}
	.img_third{
		width: 87px;
		height: 87px;
		background-image: url(../img/advantage_third.png);
		background-position: 0 0;
	}
	.img_fourth{
		width: 66px;
		height: 74px;
		background-image: url(../img/advantage_fourth.png);
		background-position: 0 0;
	}
	.img_fiveth{
		width: 88px;
		height: 88px;
		background-image: url(../img/advantage_fiveth.png);
		background-position: 0 0;
	}
	.img_sixth{
		width: 103px;
		height: 86px;
		background-image: url(../img/advantage_sixth.png);
		background-position: 0 0;
	}
	.advantage:hover{
		background-image: url(../img/advantages_hover.png);
		background-position: center;
		background-repeat: no-repeat;
	}
	.advantage.first:hover .img_first{
		background-position: -50px 0;
	}
	.advantage.second:hover .img_second{
		background-position: -96px 0;
	}
	.advantage.third:hover .img_third{
		background-position: -87px 0;
	}
	.advantage.fourth:hover .img_fourth{
		background-position: -66px 0;
	}
	.advantage.fiveth:hover .img_fiveth{
		background-position: -88px 0;
	}
	.advantage.sixth:hover .img_sixth{
		background-position: -103px 0;
	}
}