.directions{
	height: 660px;
	background-image: url(../img/directions.png);
	background-position: center;
	padding-top: 60px;
	position: relative;
	z-index: -1;
	h2{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 24px;
		color: $dark-blue-green-color;
		text-align: center;
	}
	h3{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 32px;
		color: $dark-blue-green-color;
		text-align: center;
		margin-bottom: 80px;
	}
	h4{
		/*font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 12px;
		color: $dark-grey-green-color;
		padding-left: 16px;*/
		display: none;
	}
	/*h4::after{
		content: url(../img/more_information.png);
		width: 10px;
		height: 10px;
		position: relative;
		left: 10px;
		z-index: 2;
	}*/
	p{
		height: 120px;
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 14px;
		color: $base-light-color;
	}
	.lines{
		padding: 18px 0;
	}
	.lines:first-child{
		padding-left: 6%;
	}
	.lines:last-child{
		padding-right: 6%;
	}
	.line{
		width: 100%;
		height: 2px;
		background-color: $base-dark-color;
		opacity: 0.6;
		display: inline-block;
	}
	.marginishka{
		padding-top: 120px;
	}
	.div_blue{
		height: 276px;
		background-color: $dark-blue-base-color;
		padding: 40px 20px;
	}
	.div_yellow{
		width: 246px;
		height: 260px;
		background-color: $yellow-base-color;
		padding-top: 40px;
		position: relative;
		top: -188px;
		right: 6px;
		z-index: 1;
	}
	.div_blue.one:hover .div_yellow.one{
		width: 80px;
		height: 80px;
		padding-top: 2px;
		top: -224px;
		right: 40px;
	}
	.div_blue.two:hover .div_yellow.two,
	.div_blue.three:hover .div_yellow.three,
	.div_blue.four:hover .div_yellow.four{
		width: 80px;
		height: 80px;
		padding-top: 10px;
		top: -224px;
		right: 40px;
	}
	.div_blue.one:hover h3,
	.div_blue.two:hover h3,
	.div_blue.three:hover h3,
	.div_blue.four:hover h3{
		font-size:18px;
	}
	.addApplications{
		text-align: center;
		padding-top: 100px;
	}
	.addApplication{
		font-family: 'PFBeauSansPro SemiBold', sans-serif;
		font-size: 20px;
		color: $dark-blue-base-color;
		background-color: $base-light-color;
		padding: 2px 30px;
		display: inline-block;
		border: none;
		box-shadow: 0px 4px 4px 0px $dark-blue-green-shadow-color, 0px -2px 2px 0px $light-blue-green-shadow-color;
	}
	.addApplication:hover{
		box-shadow: 0px 0px 4px 2px $light-blue-green-shadow-color;
	}
	.addApplication:active{
		box-shadow: 0px 2px 2px 0px $dark-blue-green-shadow-color inset;
	}
}
.directions::after{
	content: url(../img/directions_after.png);
	width: 86px;
	height: 48px;
	margin-left: -43px;
	position: absolute;
	top: 660px;
	left: 50%;
	z-index: -1;
}