.footer{
	width: 100%;
	height: 260px;
	padding-top: 60px;
	background-color: $dark-blue-green-color;
	position: absolute;
	bottom: -3880px;
	.contacts{
		
	}
	.contacts a{
		padding: 10px;
	}
	h5{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 14px;
		color: $base-light-color;
	}
	h6{
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 14px;
		color: $base-light-color;
		padding: 4px 0;
	}
	p{
		padding-top: 40px;
	}
}