.join_us{
	height: 670px;
	background-image: url(../img/join_us.png);
	background-position: center;
	padding-top: 10px;
	position: relative;
	z-index: 1;
	.info{
		background-color: $light-grey-purple-color;
		padding: 10px;
		box-shadow: 10px 0px 0px 0px $dark-blue-green-color inset;
	}
	.info p{
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 16px;
		color: $dark-blue-base-color;
		padding: 2px 20px;
		margin: 0;
	}
	.marginishka{
		padding-top: 40px;
	}
	h2{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 24px;
		color: $dark-blue-green-color;
		text-align: center;
		padding: 0;
	}
	h3{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 21px;
		color: $dark-blue-green-color;
		text-transform: uppercase;
	}
	h4{
		font-family: 'PFBeauSansPro Bold', sans-serif;
		font-size: 16px;
		color: $gray-base-color;
		text-transform: uppercase;
	}
	p{
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 16px;
		color: $dark-gray-base-color;
	}
	.lines{
		padding: 18px 0;
	}
	.lines:first-child{
		padding-left: 6%;
	}
	.lines:last-child{
		padding-right: 6%;
	}
	.line{
		width: 100%;
		height: 2px;
		background-color: $base-dark-color;
		opacity: 0.6;
		display: inline-block;
	}
	.steps{
		height: 320px;
		padding-top: 40px;
	}
	.step{
		height: 320px;
		text-align: center;
	}
	.step img{
		vertical-align: middle;
	}
	.step_img{
		line-height: 100px;
	}
	.next_step{
		padding-top: 40px; 
	}
	.test{
		font-family: 'PFBeauSansPro SemiBold', sans-serif;
		font-size: 16px;
		padding: 6px 30px;
		color: $base-light-color;
		background-color: $dark-blue-base-color;
		border: 0;
		box-shadow: 0px 3px 8px 0px $dark-purple-shadow-color;
	}
	.test:hover{
		box-shadow: none;
	}
	.test:active{
		box-shadow: 0px 4px 4px 0px $dark-purple-shadow-color inset;
	}
}
.join_us::after{
	content: url(../img/join_us_after.png);
	width: 86px;
	height: 48px;
	margin-left: -43px;
	position: absolute;
	top: 670px;
	left: 50%;
	z-index: 1;
}