.popup{
	p:first-child{
		padding-bottom: 10px;
	}
	p{
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 14pt;
		color: $dark-blue-base-color;
		text-align: center;
	}
	.singin p{
		font-family: 'PFBeauSansPro SemiBold', sans-serif;
		font-size: 12px;
		color: $dark-blue-base-color;
		text-align: right;
		margin-bottom: 40px;
	}
	.singin p > span{
		cursor: pointer;
	}
	.request p{
		text-align: left;
	}
	.form{
		width: 80%;
		margin: auto;
		padding: 10px;
		line-height: 20px;
	}
	.form div{
		margin-bottom: 20px;
	}
	label{
		font-family: 'PFBeauSansPro Reg', sans-serif;
		font-size: 18pt;
		color: $dark-blue-base-color;
		padding-top: 2px;
		cursor: pointer;
	}
	.label_checkbox{
		font-family: 'PFBeauSansPro Reg', sans-seri;
		font-size: 12pt;
		color: $grey-purple-color;
		display: block;
	}
	.login, .password, .fname, .lname{
		width: 74%;
		border-radius: 2px;
		border: 1px solid #ccc;
		float: right;
		vertical-align: middle;
	}
	input:focus{
		border: 2px solid $light-grey-purple-color;
	}
	.checkbox{
		float: left;
		margin-right: 10px;
	}
	.modal{
		height: 500px;
		margin: auto;
		top: 140px;
		box-shadow: 0px 0px 0px 0px $base-light-color;
		position: relative;
	}
	.modal-header{
		border-bottom: none;
	}
	.modal-content{
		/*width: 40%;*/
		box-shadow: 0px 0px 0px 0px $base-light-color;
		/*border: none;*/
	}
	.modal-footer{
		border-top: none;
	}
	.close{
		cursor: pointer;
		float: right;
	}
	button{
		font-family: 'PFBeauSansPro SemiBold', sans-serif;
		font-size: 12pt;
		color: $base-light-color;
		display: block;
		width: 100%;
		padding: 6px 40px;
		margin: auto;
		background-color: $blue-base-color;
		border-radius: 2px;
		border: none;
	}
	button:hover{
		background-color: $base-blue-popup-color;
	}
	.send{
		margin-top: 10px;
	}
	.modal-dialog.send_success .modal-content{
		border: none;
		border-radius: 0;
		background-color: $light-grey-purple-color;
	}
	.modal-dialog.send_error_login .modal-content{
		border: none;
		border-radius: 0;
		background-color: $light-grey-purple-color;
	}
	.modal-dialog.send_error_password .modal-content{
		border: none;
		border-radius: 0;
		background-color: $light-grey-purple-color;
	}
	.modal-dialog.send_error_notAlumnus .modal-content{
		border: none;
		border-radius: 0;
		background-color: $light-grey-purple-color;
	}
	.modal-dialog.request,
	.modal-dialog.send_success,
	.modal-dialog.send_error_login,
	.modal-dialog.send_error_password,
	.modal-dialog.send_error_notAlumnus{
		width: 60%;
		display: none;
		position: absolute;
		top: 0;
		left: 20%;
		z-index: 1080;
	}

	.modal-content .img{
		padding: 20px;
	}
}
	body div.modal-backdrop.fade.in{
		background-color: white;
		opacity: 1;
	}