@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

$base-light-color: #ffffff;
$blue-base-color: #a6d9eb;
$yellow-base-color: #fdc12f;
$gray-base-color: #989796;
$light-gray-color: #edebeb;
$dark-blue-base-color: #343454;
$dark-gray-base-color: #686866;
$base-dark-color: #000000;
$dark-blue-green-color: #2a3b4b;
$light-grey-purple-color: #e3e2e2;
$light-purple-color: #e7e3e3;
$light-grey-base-color: #6d6a6a;
$dark-grey-green-color: #3c3b3b;
$grey-purple-color: #737171;
$yellow-orange-color: #fad846;
$dark-purple-shadow-color: #212139;
$dark-blue-green-shadow-color: #478ba3;
$light-blue-green-shadow-color: #e7f4f9;
$light-grey-shadow-color: #818382;
$base-blue-popup-color: #52a0bb;

$pink-base-hover-color: #efaac1;
$blue-base-hover-color: #2b395c;
$yellow-base-hover-color: #fbe68d;
$light-pink-hover-color: #eceaea;
$azure-base-hover-color: #70decd;
$dark-pink-hover-color: #e5647c;



//button
$btn-dev-color:              #ffffff ;
$btn-dev-bg:                 $blue-base-color ;
$btn-dev-border:             $blue-base-color ;
$btn-dev-bg-hover:           $dark-blue-base-color;

//form
//color
$dev-input-bg:                       #ffffff;