@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

$blue-base-color: #0a86b7;
$yellow-base-color: #f5bf02;
$gray-base-color: #d1cfd0;
$dark-blue-base-color: #212955;
$dark-gray-base-color: #848381;
$default-color: #ffffff;
$dark-blue-green-color: #3e4244;


//button
$btn-dev-color:              #ffffff ;
$btn-dev-bg:                 $blue-base-color ;
$btn-dev-border:             $blue-base-color ;
$btn-dev-bg-hover:           $dark-blue-base-color;

//form
//color
$dev-input-bg:                       #ffffff;
//** Text color for `<input>`s
$dev-input-color:                    #000000;
//** `<input>` border color
$dev-input-border-color:                  $gray-base-color;
$dev-input-border-radius:            0;
//** Border color for inputs on focus
$dev-input-border-focus:             $dark-blue-base-color;


//carousel
$carousel-slide-bg: $gray-base-color;
$carousel-slide-hover-bg:$yellow-base-color;
$control-size: 90px;